*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
}
.firstPage{
    display: flex;
    margin: auto;
    width: 300px;
    margin-top: 50px;
    border: 1px solid;
    height: 700px;
}
img{
    margin: auto;
    justify-content: center;
    align-items: center;
}
.totem{
    position: absolute;
    bottom: 110px;
    margin-left: 40px;
}
